include ./_mixin

doctype html
html
  head
    title= title
    +stylesheet_link_tag('style')
    +javascript_script_tag('vendor/all')
    +javascript_script_tag('handlebars_templates')
  body
    block content
    +javascript_script_tag('application')
    +javascript_script_tag('models/card', 'models/list')
    +javascript_script_tag('collections/lists', 'collections/cards')
    +javascript_script_tag('views/header', 'views/board', 'views/list')
    script(type="text/javascript").
      App.lists = new ListsCollection(!{JSON.stringify(lists)});
      App.init();
