include ./_mixin

doctype html
html
  head
    title= title
    link(rel="stylesheet" type="text/css" media="all" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css")
    +stylesheet_link_tag('style')
    +javascript_script_tag('vendor/all')
    +javascript_script_tag('handlebarsTemplates')
    +javascript_script_tag('handlebarsHelpers')
  body
    block content
    +javascript_script_tag('application')
    +javascript_script_tag('models/card', 'models/list', 'models/board', 'models/comment', 'models/notification')
    +javascript_script_tag('collections/lists', 'collections/cards', 'collections/comments', 'collections/notifications')
    +javascript_script_tag('views/header', 'views/board', 'views/list', 'views/card', 'views/quickEdit', 'views/listPopOver', 'views/cardModal', 'views/cardPopOver', 'views/search', 'views/notifications', 'views/comment', 'views/notification')
    script(type="text/javascript").
      App.board = new BoardModel(!{JSON.stringify(board)});
    +javascript_script_tag("router")
