<div class="board-header">
  <a href="#" class="board-title-container">
    <span class="board-title">
      {{title}}
    </span>
  </a>
  <span class="private">Private</span>
</div>

<div id="board">
  <div class="board-canvas">
    <ul id="lists">
    </ul>
    <div class="add-list idle">
      <form id="listForm" method="post" action="/lists">
        <span class="placeholder open-add-list">Add a list…</span>
        <input class="list-name-input" type="text" name="title" placeholder="Add a list…" autocomplete="off" dir="auto" maxlength="512">
        <div class="list-add-controls">
          <input class="primary save-edit" type="submit" value="Save">
          <a class="cancel-edit" href="#"></a>
        </div>
      </form>
    </div>
    <div class="extra-space"></div>
  </div>
</div>