<div class="card" data-id="{{id}}">
  <span class="card-edit-icon"></span>
  <div class="card-details">
    <div class="card-labels"></div>
    <span class="card-title">{{title}}</span>
    <div class="badges"></div>
  </div>
</div>
