<div class="phenom-creator">
  <div class="member js-show-mem-menu" idmember="5960fe60783922c510c83ede">
    <span class="member-gold-badge" title="This member has Trello Gold."></span>
  </div>
</div>

<div class="phenom-desc">
  <span class="inline-member js-show-mem-menu" idmember="5960fe60783922c510c83ede">
    <span class="u-font-weight-bold">User</span>
  </span>
  <div class="comment-container">
    <div class="action-comment markeddown js-comment" dir="auto">
      <div class="current-comment js-friendly-links js-open-card">
        <p>{{text}}</p>
      </div>
    </div>
  </div>
</div>

<p class="phenom-meta quiet">
  <span class="js-hide-on-sending">
    <a class="js-confirm-delete-action" href="#">Delete</a>
  </span>
</p>