<div class="pop-over-header">
  <span class="pop-header-title">Copy List</span>
  <a class="pop-close-btn" href="#"></a>
</div>
<div class="pop-over-content">
  <form method="post" action="/lists/copy" class="pop-over-form">
    <div class="list-card">
      <div class="list-card-details">
        <textarea class="list-card-edit-title copy-list-textarea focus" dir="auto" style="overflow: hidden; word-wrap: break-word; resize: none; height: 90px;" autofocus onclick="this.focus();this.select()">{{title}}</textarea>
      </div>
    </div>
    <input class="primary save-edits" type="submit" value="Create List">
  </form>
</div>
