<div class="pop-over-header">
  <span class="pop-header-title">Delete Card</span>
  <a class="pop-close-btn" href="#"></a>
</div>
<div class="pop-over-content">
  <form class="delete-card-form" method="delete" action="/cards">
    <div class="delete-text">
      <p>All actions will be removed from the activity feed and you won’t be able to re-open the card. There is no undo.</p>
      <input class="js-confirm full negate" type="submit" value="Delete">
    </div>
  </form>
</div>
