<div class="pop-over-header">
  <span class="pop-header-title">Change Due Date</span>
  <a class="pop-close-btn" href="#"></a>
</div>
<div class="pop-over-content">
  <div id="datepicker"></div>
  <input class="negate remove-date js-remove-date" type="button" value="Remove">
</div>
