<div class="search-bar">
  <input type="text" autocomplete="off" autocorrect="off" spellcheck="false" value="">
  <span class="search-icon"></span>
</div>

<div class="logo">
</div>

<div class="info">
  <a href="#" class="box" class="notifications">
    <span class="notification-icon"></span>
  </a>
  <div class="box user">
    <span class="user-icon"></span>
  </div>
</div>
