<div class="pop-over-header">
  <span class="pop-header-title">Labels</span>
  <a class="pop-close-btn" href="#"></a>
</div>
<div class="pop-over-content">
  <ul class="edit-labels-pop-over js-labels-list">
    <li>
      <span class="card-label mod-selectable card-label-green js-select-label" data-color="green">
      </span>
    </li>

    <li>
      <span class="card-label mod-selectable card-label-yellow js-select-label" data-color="yellow">
      </span>
    </li>

    <li>
      <span class="card-label mod-selectable card-label-orange js-select-label" data-color="orange">
      </span>
    </li>

    <li>
      <span class="card-label mod-selectable card-label-red js-select-label selected" data-color="red">
      </span>
    </li>

    <li>
      <span class="card-label mod-selectable card-label-purple js-select-label" data-color="purple">
      </span>
    </li>

    <li>
      <span class="card-label mod-selectable card-label-blue js-select-label" data-color="blue">
      </span>
    </li>
  </ul>
</div>
