<div class="list" data-id="{{id}}">
  <div class="list-header">
    <textarea class="list-title" spellcheck="false" dir="auto" maxlength="512" style="overflow: hidden; word-wrap: break-word; height: 24px;">
      {{title}}
    </textarea>
    <a class="list-hamburger" href="#">
      <span class="list-icon">...</span>
    </a>
  </div>
  <div class="list-cards">
    <ul id="cards">
    </ul>
  </div>
  <div class="card-composer hide">
    <form class="cardForm" method="post" action="/cards">
      <div class="list-card composer">
        <textarea name="title" class="list-card-composer-textarea new-card-title" dir="auto" style="overflow: hidden; word-wrap: break-word; resize: none;"></textarea>
      </div>
      <div class="card-add-controls">
        <input class="primary save-edit" type="submit" value="Add">
        <a class="cancel-edit icon-lg" href="#"></a>
      </div>
    </form>
  </div>
  <a href="#" class="open-card-composer">Add a card...</a>
</div>