<div class="pop-over-header">
  <span class="pop-header-title">Notifications</span>
  <a class="pop-close-btn" href="#"></a>
</div>
<div class="pop-over-content">
  <ul class="notifications"></ul>
</div>
