<div class="pop-over-header">
  <span class="pop-header-title">Notifications</span>
  <a class="pop-close-btn" href="#"></a>
</div>
<div class="pop-over-content">
  <p class="empty" style="padding: 24px 6px;"><span>No Notifications</span></p>
</div>
