<div class="pop-over-header">
  <span class="pop-header-title">List Actions</span>
  <a class="pop-close-btn" href="#"></a>
</div>
<div class="pop-over-content">
  <ul class="pop-over-list">
    <li>
      <a class="js-add-card" href="#">Add Card…</a>
    </li>
    <li>
      <a class="js-copy-list" href="#">Copy List…</a>
    </li>
    <li>
      <a class="js-move-list" href="#">Move List…</a>
    </li>
    <li>
      <a class="highlight-icon js-list-subscribe" href="#">
        Subscribe
        {{#if subscribed}}
        <span class="icon-sm icon-check"></span>
        {{/if}}
      </a>
    </li>
    <li>
      <a class="highlight-icon js-archive" href="#">Archive</a>
    </li>
  </ul>
</div>
