<div class="pop-over-header">
  <span class="pop-header-title">Search Results</span>
  <a class="pop-close-btn" href="#"></a>
</div>
<div class="pop-over-content">
  <ul class="search-cards"></ul>
</div>
