// Badges

.badge
  color: #8c8c8c
  display: flex
  margin-right: 4px
  max-width: 100%
  overflow: hidden
  text-decoration: none
  text-overflow: ellipsis
  min-height: 18px
  position: relative
  vertical-align: top
  
.badge-text
  font-size: 9pt
  padding: 0 2px
  white-space: nowrap
  
// Widget

.ui-datepicker
  margin: 0 auto

.ui-widget-content
  border: none
  
.ui-sortable-placeholder
  background: rgba(0,0,0,.2)
  min-width: 254px
  max-width: 254px
  margin-bottom: 8px
  border-radius: 3px

.ui-sortable-placeholder-list
  background: rgba(0,0,0,.2)
  min-width: 270px
  max-width: 270px
  margin-left: 10px
  margin-right: 5px
  border-radius: 3px
  height: 100%
  
// Notifications

.empty
  background: #E2E4E6
  border: 1px dashed #C4C9CC
  border-radius: 3px
  color: #8c8c8c
  display: block
  padding: 6px
  text-align: center
  padding: 24px 6px
  
.notifications
  .phenom-meta
    display: none
    
.phenom-creator
  height: 30px
  left: -38px
  position: absolute
  top: 13px
  width: 30px
  
.phenom.mod-other-type
  .phenom-creator
    top: 4px