header
  width: 100%
  background-color: #026AA7
  overflow: hidden
  position: relative
  #dashboard
    width: 100%
    display: flex
    justify-content: space-between
    padding: 5px
    .search-bar
      position: relative
      input
        background-color: rgba(255,255,255,.3)
        border-radius: 3px
        border: none
        color: rgba(255,255,255,.5)
        font-size: 13px
        height: 30px
        margin: 0
        min-height: 30px
        padding-right: 30px
        padding-left: 8px
        line-height: 19px
        width: 180px
        &:hover
          background-color: rgba(255,255,255,.4)
        &:focus
          background-color: #fff
          box-shadow: none
          color: #4d4d4d
          + .search-icon:before
            background-position: 180px 0
      .search-icon
        right: 0
        top: 0
        cursor: pointer
        position: absolute
        z-index: 2
        &:before
          background: url('/images/sprite.png') 180px -60px
          content: ""
          width: 100%
          height: 100%
          z-index: 3
          display: block
          position: relative
    .logo
      height: 30px
      width: 80px
      background: url('/images/header-logo.png')
      position: absolute
      left: 50%
      transform: translateX(-50%)
    .info
      display: flex
      .user
        margin-right: 8px
      .box
        background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%)
        color: #f3f3f3
        display: block
        margin-right: 8px
        &:hover
          background: linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%)
        *
          background: url('/images/sprite.png') 0 0
          display: block
          width: 100%
          height: 100%
        .user-icon
          background-position: -30px 0
        .notification-icon
          background-position: -420px -60px