.icon-lg
  height: 30px
  font-size: 20px
  line-height: 30px
  width: 30px

.icon-sm
  height: 18px
  line-height: 18px
  width: 18px
  display: inline-block

.icon-description
  background: url('/images/sprite.png') -234px -88px

.window-header-icon
  background: url('/images/sprite.png') 390px 0
 
.icon-comment
  background-image: url('/images/sprite.png')
  background-position:  -150px 0
  &.icon-sm
    background-position: -88px -90px

.icon-activity
  background-position: -240px 0
  background-image: url('/images/sprite.png')
  
.icon-check
  background: url('/images/sprite.png') -181px -127px
  margin-left: 3px

.icon-subscribe
  background: url('/images/sprite.png') -305px -90px
  display: inline-block
  height: 18px
  width: 18px

.button-link
  .icon-archive
    background: url('/images/sprite.png') -397px -87px
  .icon-card
    background: url('/images/sprite.png') -216px -87px
  .icon-move
    background: url('/images/sprite.png') -504px -87px
  .icon-clock
    background: url('/images/sprite.png') -199px -87px
  .icon-label
    background: url('/images/sprite.png') -109px -87px
  .icon-subscribe
    background-position: -307px -87px
  &:hover
    .icon-archive
      background: url('/images/sprite.png') -397px -123px
    .icon-card
      background: url('/images/sprite.png') -216px -123px
    .icon-move
      background: url('/images/sprite.png') -504px -123px
    .icon-clock
      background: url('/images/sprite.png') -199px -123px
    .icon-label
      background: url('/images/sprite.png') -109px -123px
    .icon-subscribe
      background-position: -307px -123px
      
.js-badges
  display: flex
  .icon-clock
    background: url('/images/sprite.png') -197px -90px
  .icon-description
    background: url('/images/sprite.png') -232px -91px
    
input[type=submit]
input[type=button]
  border: none
  box-shadow: 0 1px 0 #959DA1
  cursor: pointer
  display: inline-block
  font-weight: 700
  line-height: 22px
  padding: 4px 20px
  text-align: center
  border-radius: 3px
  font-size: 14px
  &.negate
    background: linear-gradient(to bottom,#D6DADC 0,#CDD2D4 100%)
    color: #B04632
    width: 100%
    &:hover
      background: linear-gradient(to bottom,#CF513D 0,#B04632 100%)
      box-shadow: 0 1px 0 #4d4d4d
      color: #fff
  &.primary
    background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%)
    box-shadow: 0 1px 0 #3F6F21
    color: #fff
    &:hover
      background: linear-gradient(to bottom,#5AAC44 0,#519839 100%)

.list-add-controls
.card-add-controls
  transition: margin 85ms ease-in,height 85ms ease-in

.cancel-edit
.dialog-close-button
  display: inline-block
  margin-left: 5px
  background: url('/images/sprite.png') 60px -30px
  position: relative
  top: 10px
  &.white-hover
    &:hover
      background-position: 60px -60px  
  &:hover
    background-position: 60px 0