.edit-labels-pop-over
  margin-bottom: 8px
  li
    position: relative

.card-label.mod-selectable  
  border-radius: 3px
  cursor: pointer
  margin: 0 0 4px
  min-height: 18px
  padding: 8px
  position: relative
  -webkit-transition: padding 85ms,margin 85ms,box-shadow 85ms
  transition: padding 85ms,margin 85ms,box-shadow 85ms
  &:hover
    margin-left: 4px
    
.card-label-green
  background-color: #61BD4F
.card-label-yellow
  background-color: #F2D600
.card-label-orange
  background-color: #FFAB4A
.card-label-red
  background-color: #EB5A46
.card-label-purple
  background-color: #C377E0
.card-label-blue
  background-color: #0079BF
  
.card-label-green.mod-selectable:hover
  box-shadow: -8px 0 #519839
.card-label-yellow.mod-selectable:hover
  box-shadow: -8px 0 #D9B51C
.card-label-orange.mod-selectable:hover
  box-shadow: -8px 0 #D29034
.card-label-red.mod-selectable:hover
  box-shadow: -8px 0 #B04632
.card-label-purple.mod-selectable:hover
  box-shadow: -8px 0 #89609E
.card-label-blue.mod-selectable:hover
  box-shadow: -8px 0 #055A8C
  
.card-label
  border-radius: 3px
  color: #fff
  display: block
  font-weight: 700
  margin-right: 3px
  max-width: 100%
  overflow: hidden
  padding: 3px 6px
  position: relative
  text-overflow: ellipsis
  text-shadow: 0 0 5px rgba(0,0,0,.2), 0 0 2px #000
  white-space: nowrap
  &.mod-card-detail
    border-radius: 3px
    -moz-box-sizing: border-box
    box-sizing: border-box
    display: block
    float: left
    height: 30px
    line-height: 30px
    margin: 0 4px 4px 0
    min-width: 40px
    padding: 0 10px
    width: auto

.list-card-labels    
  margin: 2px 0
  overflow: auto
  
.card-label.mod-card-front
  float: left
  height: 8px
  margin: 0 3px 3px 0
  padding: 0
  width: 42px
  line-height: 75pt