#window-overlay
  align-items: flex-start
  background-color: rgba(0,0,0,.6)
  display: none
  height: 100%
  justify-content: center
  left: 0
  overflow-y: auto
  position: fixed
  top: 0
  width: 100%
  z-index: 20
  &.is-up
    display: flex
  .window
    background-color: #EDEFF0
    border-radius: 3px
    margin: 3pc 0 5pc
    position: relative
    width: 730px
    z-index: 25
    overflow: hidden
    .window-wrapper
      .dialog-close-button
        color: rgba(0,0,0,.3)
        position: absolute
        top: 0
        right: 0
        height: 30px
        overflow: hidden
        padding: 4px
        width: 30px
        z-index: 2
        -webkit-transition: background-color 350ms,color 150ms
        transition: background-color 350ms,color 150ms
      .card-detail-window
        min-height: 600px
        .window-header
          margin: 4px 40px 4px 38px
          padding: 9pt 9pt 0
          position: relative
          z-index: 1
          .window-header-icon
            left: -28px
            position: absolute
            top: 8px
          .window-title
            .mod-card-back-title
              background: 0 0
              border: 0
              border-radius: 3px
              box-shadow: none
              font-size: 18px
              font-weight: 700
              height: 22px
              line-height: 22px
              margin: -4px -6px
              min-height: 22px
              padding: 4px 6px
              resize: none
          .window-header-inline-content
            cursor: default
            display: inline-block
            margin: 4px 6px 0 0
            .u-bottom
              margin-bottom: 0
              padding-bottom: 0
            .u-inline-block
              display: inline-block
            a
              display: inline
        .window-main-col
          float: left
          margin: 0
          min-height: 20px
          padding: 8px 9pt 9pt
          position: relative
          width: 546px
          z-index: 0
          .u-gutter
            margin-right: 38px

.window-module
  clear: both
  margin-bottom: 20px
  position: relative
  
.card-detail-item
  float: left
  max-width: 100%
  display: block
  margin: 4px 28px 1pc 0
  
.description-content
.list-card-labels
  position: relative

.description-content-fade-button
  background: linear-gradient(to bottom,rgba(237,239,240,0),rgba(237,239,240,0) 370px,#EDEFF0 400px)
  box-sizing: border-box
  cursor: pointer
  display: none
  height: 430px
  left: 0
  padding-top: 25pc
  position: absolute
  right: 0
  text-align: center
  top: 0
  transition: background 150ms ease-in
  z-index: 1
  
.card-detail-item-header
  color: #8c8c8c
  display: inline-block
  font-weight: 400
  font-size: 14px
  margin: 0 6px 6px 0

.card-detail-item-header-edit
  color: #8c8c8c
  text-decoration: underline
  
.card-detail-item-add-button
  background: #E2E4E6
  border-radius: 3px
  color: #8c8c8c
  cursor: pointer
  display: block
  float: left
  padding: 6px
  
.card-label
  background-color: #B6BBBF
  border-radius: 3px
  color: #fff
  display: block
  font-weight: 700
  margin-right: 3px
  max-width: 100%
  overflow: hidden
  padding: 3px 6px
  position: relative
  text-overflow: ellipsis
  text-shadow: 0 0 5px rgba(0,0,0,.2), 0 0 2px #000
  white-space: nowrap

.card-label-green
  background-color: #61BD4F
.card-label-yellow
  background-color: #F2D600
.card-label-orange
  background-color: #FFAB4A
.card-label-red
  background-color: #EB5A46
.card-label-purple
  background-color: #C377E0
.card-label-blue
  background-color: #0079BF
    
.card-detail-due-date-badge
  padding: 5px
  display: flex
  flex-direction: row
  align-items: center
  &.is-clickable
    text-decoration: none
    .card-detail-due-date-text
      text-decoration: underline
  .card-detail-badge-due-date-complete-box
    border: 1px solid #fff
    border-radius: 3px
    display: flex
    width: 1pc
    height: 1pc
    margin-right: 5px
    background: rgba(255,255,255,.3)

.card-detail-item-block
  clear: both
  float: none
  margin-right: 0

.card-detail-badge
  background-color: #E2E4E6
  border-radius: 3px
  color: #8c8c8c
  cursor: default
  display: block
  height: 20px
  line-height: 20px
  margin: 0 4px 4px 0
  max-width: 100%
  overflow: hidden
  padding: 5px 10px
  text-decoration: none
  text-overflow: ellipsis
  white-space: nowrap

textarea.field
  display: block
  height: auto

.edit-controls
  clear: both
  margin-top: 8px
  .mod-submit-edit
    float: left
    height: 2pc
    margin-top: -2px
    padding-top: 5px
    padding-bottom: 5px

.field
.field:active
  background: rgba(0,0,0,.03)
  border-color: rgba(0,0,0,.15)
  box-shadow: inset 0 1px 6px rgba(0,0,0,.1)
  margin-bottom: 4px

.card-detail-edit
  .field
    min-height: 81pt

.editing
  cursor: auto
  .edit
  display: block
  float: left
  padding-bottom: 9px
  z-index: 50
  width: 100%

.edit
  display: none
  position: relative

.quiet
.quiet a
  color: #8c8c8c

.u-clearfix
  &:after
    display: table
  &:after
  pre:after
    content: ""
    clear: both