.window-sidebar
  float: right
  padding: 8px 9pt 9pt 0
  width: 140px
  z-index: 10
  overflow: hidden
  
.button-link
  background: linear-gradient(to bottom,#fff 0,#F8F9F9 100%)
  box-sizing: border-box
  border: 1px solid #E2E4E6
  border-bottom-color: #CDD2D4
  cursor: pointer
  display: block
  font-weight: 700
  margin-top: 6px
  width: 100%
  max-width: 300px
  overflow: hidden
  padding: 7px
  position: relative
  text-overflow: ellipsis
  user-select: none
  white-space: nowrap
  border-radius: 3px
  text-decoration: none
  color: #4d4d4d
  &:hover
    background: #298FCA
    border-color: #298FCA #298FCA #026AA7
    color: #fff
    .label
    .value
      color: #eee
    .on
      background-color: rgba(255,255,255,.3)
  &.is-on
    padding-right: 30px
    .on
      display: block
  .on
    background-color: #61BD4F
    border-radius: 3px
    color: #fff
    display: none
    font-size: 9pt
    font-weight: 700
    height: 17px
    line-height: 17px
    margin: 0
    padding: 2px 4px
    position: absolute
    right: 5px
    top: 9px
    text-align: center
      
.delete-text
  p
    margin-bottom: 5px
      