@import "reset.css";
body,
textarea {
  font: normal 14px/140% Helvetica, Arial, sans-serif;
}
body {
  background-color: #0079bf;
  color: #fff;
  height: 100vh;
  width: 100vw;
}
body header {
  width: 100%;
  background-color: #026aa7;
  overflow: hidden;
  position: relative;
}
body header #dashboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
body header #dashboard .search-bar {
  position: relative;
}
body header #dashboard .search-bar input {
  background-color: rgba(255,255,255,0.3);
  border-radius: 3px;
  border: none;
  color: rgba(255,255,255,0.5);
  font-size: 13px;
  height: 30px;
  margin: 0;
  min-height: 30px;
  padding-right: 30px;
  padding-left: 8px;
  line-height: 19px;
  width: 180px;
}
body header #dashboard .search-bar input:hover {
  background-color: rgba(255,255,255,0.4);
}
body header #dashboard .search-bar .search-icon {
  right: 0;
  top: 0;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}
body header #dashboard .search-bar .search-icon:before {
  background: url("/images/sprite.png") 180px -60px;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 3;
  display: block;
  position: relative;
}
body header #dashboard .logo {
  height: 30px;
  width: 80px;
  background: url("/images/header-logo.png");
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
body header #dashboard .info {
  display: flex;
}
body header #dashboard .info .user {
  margin-right: 8px;
}
body header #dashboard .info .box {
  background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0, rgba(255,255,255,0.2) 100%);
  color: #f3f3f3;
  display: block;
  margin-right: 8px;
}
body header #dashboard .info .box:hover {
  background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0, rgba(255,255,255,0.3) 100%);
}
body header #dashboard .info .box * {
  background: url("/images/sprite.png") 0 0;
  display: block;
  width: 100%;
  height: 100%;
}
body header #dashboard .info .box .user-icon {
  background-position: -30px 0;
}
body header #dashboard .info .box .notification-icon {
  background-position: -420px -60px;
}
input[type=text] {
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: #e2e4e6;
  border: 1px solid #cdd2d4;
  border-radius: 3px;
  display: block;
  margin-bottom: 9pt;
  min-height: 2pc;
  padding: 7px;
  font-size: 14px;
}
input[type=text]:focus {
  outline: 0;
}
input[type=submit] {
  border: none;
  box-shadow: 0 1px 0 #959da1;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 22px;
  padding: 4px 20px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
}
input[type=submit].primary {
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  box-shadow: 0 1px 0 #3f6f21;
  color: #fff;
}
input[type=submit].primary:hover {
  background: linear-gradient(to bottom, #5aac44 0, #519839 100%);
}
main {
  height: 100%;
  width: 100%;
  position: relative;
}
main #board-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
main #board-wrapper .board-header {
  padding: 8px 8px 0;
  margin-bottom: 10px;
}
main #board-wrapper .board-header .board-title-container {
  cursor: default;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 10px 0 4px;
  height: 30px;
  border-radius: 3px;
  display: inline-block;
  color: #fff;
}
main #board-wrapper .board-header .board-title-container:hover {
  background: rgba(0,0,0,0.12);
  cursor: pointer;
}
main #board-wrapper .board-header .board-title-container .board-title {
  padding: 0 8px;
}
main #board-wrapper .board-header .private {
  font-size: 12px;
}
main #board-wrapper .board-header .private:before {
  content: '';
  display: inline-block;
  background: url("/images/sprite.png") -309px -127px;
  height: 12px;
  width: 12px;
  padding-right: 5px;
}
main #board-wrapper #board {
  position: relative;
  overflow: hidden;
  height: 100%;
}
main #board-wrapper #board .board-canvas {
  flex-grow: 1;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
main #board-wrapper #board .board-canvas #lists {
  display: flex;
  height: 100%;
}
main #board-wrapper #board .board-canvas #lists .list {
  margin: 0 5px;
  width: 270px;
  background: #e2e4e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}
main #board-wrapper #board .board-canvas #lists .list:first-child {
  margin-left: 10px;
}
main #board-wrapper #board .board-canvas #lists .list .open-card-composer {
  padding: 10px 15px;
  color: #4d4d4d;
}
main #board-wrapper #board .board-canvas #lists .list .open-card-composer:hover {
  background-color: #cdd2d4;
  color: #4d4d4d;
  text-decoration: underline;
}
main #board-wrapper #board .board-canvas #lists .list .list-header {
  display: flex;
  flex: 0 0 auto;
  padding: 8px 10px;
  position: relative;
  min-height: 18px;
}
main #board-wrapper #board .board-canvas #lists .list .list-header textarea {
  box-sizing: border-box;
  background: 0 0;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 700;
  font-size: 14px;
  height: 18px;
  min-height: 18px;
  padding: 3px 5px;
  resize: none;
  max-height: 16pc;
  flex-grow: 1;
}
main #board-wrapper #board .board-canvas #lists .list .list-header textarea:focus {
  background-color: rgba(255,255,255,0.85);
  outline: 0;
}
main #board-wrapper #board .board-canvas #lists .list .list-header .list-hamburger {
  display: block;
  padding: 4px;
  height: 18px;
  width: 18px;
  text-align: center;
}
main #board-wrapper #board .board-canvas #lists .list .list-header .list-hamburger:hover {
  border-radius: 3px;
  background: #cdd2d4;
}
main #board-wrapper #board .board-canvas #lists .list .list-header .list-hamburger .list-icon {
  font-size: 14px;
  color: #444;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  bottom: 4px;
}
main #board-wrapper #board .board-canvas .add-list {
  height: 77px;
  padding: 4px;
  border-radius: 3px;
  background-color: #e2e4e6;
  transition: background 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;
  min-width: 270px;
  margin: 0 5px;
  vertical-align: top;
  white-space: nowrap;
}
main #board-wrapper #board .board-canvas .add-list.idle {
  background: rgba(0,0,0,0.12);
  cursor: pointer;
  color: #fff;
  height: 32px;
}
main #board-wrapper #board .board-canvas .add-list.idle:hover {
  background: rgba(0,0,0,0.3);
}
main #board-wrapper #board .board-canvas .add-list.idle .placeholder {
  display: block;
}
main #board-wrapper #board .board-canvas .add-list.idle .list-name-input {
  background: 0 0;
  border-color: transparent;
  box-shadow: none;
  cursor: pointer;
  display: none;
  margin: 0;
}
main #board-wrapper #board .board-canvas .add-list.idle .list-add-controls {
  height: 0;
  margin: 0;
  overflow: hidden;
}
main #board-wrapper #board .board-canvas .add-list .placeholder {
  display: none;
  padding: 7px;
  color: rgba(255,255,255,0.7);
  -webkit-transition: color 85ms ease-in;
  transition: color 85ms ease-in;
}
main #board-wrapper #board .board-canvas .add-list .list-name-input {
  background: rgba(0,0,0,0.05);
  border-color: #aaa;
  box-shadow: inset 0 1px 8px rgba(0,0,0,0.15);
  display: block;
  margin: 0;
  -webkit-transition: margin 85ms ease-in, background 85ms ease-in;
  transition: margin 85ms ease-in, background 85ms ease-in;
  width: 100%;
}
.list-add-controls,
.card-add-controls {
  transition: margin 85ms ease-in, height 85ms ease-in;
}
.cancel-edit {
  display: inline-block;
  margin-left: 5px;
  background: url("/images/sprite.png") 60px -30px;
  position: relative;
  top: 10px;
}
.cancel-edit:hover {
  background-position: 60px 0;
}
.extra-space {
  display: inline-block;
  min-width: 5px;
  height: 1px;
}
.hide {
  display: none;
}
.card-composer {
  flex: 1 1 auto;
  overflow-y: auto;
  margin: 0 4px;
  padding: 0 4px 8px;
}
.list-card {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  z-index: 0;
  padding: 6px 6px 2px 8px;
}
.list-card textarea {
  background: 0 0;
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: none;
  height: auto;
  margin-bottom: 4px;
  max-height: 162px;
  min-height: 54px;
  overflow-y: auto;
  padding: 0;
}
.list-card textarea:focus,
.list-card textarea:active {
  outline: 0;
}
#cards {
  flex: 1 1 auto;
  overflow-y: auto;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
}
#cards .card {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 6px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  z-index: 0;
}
#cards .card:hover {
  background-color: #edeff0;
  border-bottom-color: #d6dadc;
}
#cards .card:hover .card-edit-icon {
  visibility: visible;
}
#cards .card:hover .card-edit-icon:hover {
  background-color: #d6dadc;
  background-position: -552px -87px;
}
#cards .card .card-edit-icon {
  background: url("/images/sprite.png") -552px -105px;
  background-color: #edeff0;
  background-clip: padding-box;
  background-origin: padding-box;
  border-radius: 3px;
  opacity: 0.8;
  padding: 4px;
  position: absolute;
  right: 3px;
  top: 3px;
  height: 18px;
  width: 18px;
  visibility: hidden;
  z-index: 40;
}
#cards .card .card-details {
  overflow: hidden;
  padding: 6px 6px 2px 8px;
  position: relative;
  z-index: 10;
}
#cards .card .card-details .card-title {
  clear: both;
  font-weight: 400;
  margin: 0 0 4px;
  overflow: hidden;
  word-wrap: break-word;
  color: #4d4d4d;
  display: block;
}
.icon-lg {
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  width: 30px;
}
.quick-card-editor {
  background: rgba(0,0,0,0.6);
  bottom: 0;
  color: #fff;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}
.quick-card-editor .close-icon {
  color: rgba(255,255,255,0.6);
  padding: 9px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition-property: -webkit-transform, color;
  transition-property: transform, color;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
.quick-card-editor .quick-card-edit-box {
  position: absolute;
  width: 254px;
}
.pop-over {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d6dadc;
  border-bottom-color: #c4c9cc;
  box-shadow: 0 1px 6px rgba(0,0,0,0.15);
  display: none;
  position: absolute;
  width: 300px;
  z-index: 70;
  -webkit-transform: translate3d(0, 0, 0);
}
.pop-over.is-shown {
  display: block;
}
.pop-over .pop-over-header {
  height: 36px;
  position: relative;
  margin-bottom: 8px;
  text-align: center;
}
.pop-over .pop-over-header .pop-header-title {
  box-sizing: border-box;
  color: #8c8c8c;
  display: block;
  line-height: 36px;
  border-bottom: 1px solid #d6dadc;
  margin: 0 10px;
  overflow: hidden;
  padding: 0 2pc;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
}
.pop-over .pop-over-header .pop-close-btn {
  padding: 10px 10px 10px 4px;
  position: absolute;
  top: 8px;
  right: 18px;
  z-index: 2;
  line-height: 18px;
  background: url("/images/sprite.png") -415px -107px;
}
.pop-over .pop-over-header .pop-close-btn:hover {
  background-position: -415px -89px;
}
.pop-over .pop-over-content {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 10px 10px;
}
.pop-over .pop-over-content .pop-over-list li > a {
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 6px 10px;
  position: relative;
  margin: 0 -10px;
  text-decoration: none;
  color: #444;
}
.pop-over .pop-over-content .pop-over-list li > a:hover {
  background-color: #298fca;
  color: #fff;
}
